@import url('https://fonts.cdnfonts.com/css/geologica');

.no-scroll {
    overflow: hidden;
}

.pagegarde{
    margin:3% 15%;

    display:flex;
    font-family: 'Geologica', sans-serif;
    align-items: center;
    animation: 6s fade ;
}

.pagegarde img {
    width:700px;
    margin-top: 5%;
}

.pagegarde h1 {
    font-size:50px;
    margin-right:10%;
}

.pagegarde p {
    left:0;
    margin-right:40%;
    font-size:20px;
}

.pagegarde h1 span {
    color:rgb(3, 111, 219);
}

@media (max-width: 1450px) {
    .pagegarde img {
        width:600px;

    }
}

@media (max-width: 1250px) {
    .pagegarde img {
        width:500px;
    }    
    .pagegarde h1 {
        font-size:35px;
    }
    .pagegarde{
        margin:10% 15%;
    }
}


@media (max-width: 1150px) {
    .pagegarde{
        display:block;
    }
    .pagegarde h1 {
        text-align: center;
        margin-left:10%;
        font-size:50px;
    }
    .pagegarde p{
        margin:5% 15%;
        text-align: center;
        font-size:20px;

    }
    .pagegarde div {
        text-align: center;
      }

}

@media (max-width: 950px) {
    .pagegarde div img {
        width:100%;
        margin-top:15%;
    }
}

