@import url('https://fonts.cdnfonts.com/css/geologica');
@import url('https://fonts.cdnfonts.com/css/montserrat');


body {
    background-color: #fff6fe;
}

.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Geologica', sans-serif;
}


.paragraphe {
    margin:0 50px;
}

@keyframes texteer {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    70% {
        opacity: 0;
        transform: translateY(-30px);
      }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}


.paragraphe h1 span{
    color: rgb(3, 111, 219);
}

.paragraphe img{
    width:500px;
    margin-top:50px;
    animation:cotegauche 1s;
}

@keyframes cotegauche {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}

.content .offre{
    opacity: 1;
    padding: 30px 70px;
    margin: 50px;
    animation:3s cote;
}

@keyframes cote {
    0% {
      opacity: 0;
      transform: translateY(-120px);
    }
    80% {
        opacity: 0;
        transform: translateX(120px);
      }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}

.content .offre{
    background-color: #25282a;
    border-radius: 15px;
    color: white;
}

.offre {
    box-shadow: rgb(3, 111, 219, 0.4) -5px 5px, rgb(3, 111, 219, 0.3) -10px 10px, rgb(3, 111, 219, 0.2) -15px 15px, rgb(3, 111, 219, 0.1) -20px 20px, rgb(3, 111, 219, 0.05) -25px 25px;
}

.offre h2{
    font-size:27px
}

.offre a{
    text-decoration: none;
}

.offre ul li{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin:15px 0;
    font-size:18px;
    display: flex;
}

.offre ul li img{
    width:20px;
    filter: brightness(75%) invert(1);
    margin-right:10px;
}
.content div .center{
    text-align: center;
    margin: 0;
    padding: 0;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.center button {
    background-color: mediumorchid;
    align-items: center;
    color: black;
    margin:0% 3%;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 16px;
    border-radius: 40px;
    justify-content: center;
    display:block;
    cursor:pointer;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.center button:hover {
    background-color: rgb(223, 222, 222);
    color:black;
    box-shadow: 1px 1px 10px white;
    border:1px solid #6ED355;
    filter:invert(100%);
}


/* Besoins */

.besoins {
    font-family: 'Geologica', sans-serif;
    background-color: rgb(3, 111, 219);
    color:white
}
.besoins h1{
    padding-top:30px;
    font-size:30px;
    text-align: center;
}

.besoins p {
    text-align: justify;
    margin:0 20%;
    font-size:20px;
    padding-bottom:30px;
}

/*Realisations */

.titrereal {
    font-family: 'Geologica', sans-serif;
    margin-left:20%;
    margin-top:4%;
}
.realisations {
    display: block;
    font-family: 'Geologica', sans-serif;
}
  
.bloc {
    display:flex;
    justify-content: center;
}
.realisation {
    width: 300px;
    margin: 20px;
    text-align: center;
    margin:2%;
    transition: transform 0.3s ease;
}
  
.realisation:hover {
    transform: translateY(-5px);
}
  
.realisation img {
    width:350px;
    height: 200px;
}

.realisation .bouton {
    display:flex;
    justify-content: right;
}
.realisation h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}
  
.realisation p {
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
    color: rgb(3, 111, 219);
}  

.bouton a{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-right: 5%;
}

.realisations button {
    background-color: mediumorchid;
    align-items: center;
    color: black;
    margin:2% 5%;
    margin-bottom:5%;
    border: none;
    width: 220px;
    height: 60px;
    font-size: 16px;
    border-radius: 10px;
    justify-content: center;
    display:block;
    cursor:pointer;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.realisations button:hover {
    background-color: rgb(223, 222, 222);
    color:black;
    box-shadow: 1px 1px 10px white;
    border:1px solid #6ED355;
    filter:invert(100%);
}
@media (max-width: 1110px){
    .content div{
        padding: 20px;
        margin: 20px;
    }    
}

/* Devis */


.devis {
    margin:0 20%;
    font-family: 'Geologica', sans-serif;
    color:white;
    padding-bottom: 100px;

}

.devis1  {
    background-color:rgb(3, 111, 219);
    border-radius: 10px;
    display:flex;
    padding:20px 0;
}

.devis h1 {
    padding-top:2%;
    margin-left:3%;
    animation: wave 2s ease-in-out infinite;
}

.versdevis {
    display:block;
}
.devis p {
    margin-left:3%;
    padding-bottom:2%;
    margin-right:40%;
}

.prebutton {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right:100px
}
.devis button {
    background-color: mediumorchid;
    align-items: center;
    color: black;
    margin:2% 5%;
    border: none;
    width: 220px;
    height: 60px;
    font-size: 16px;
    border-radius: 10px;
    justify-content: center;
    cursor:pointer;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.devis button:hover {
    background-color: rgb(223, 222, 222);
    color:black;
    box-shadow: 1px 1px 10px white;
    border:1px solid #6ED355;
    filter:invert(100%);
}

/*Questions */

.questions {
    font-family: 'Geologica', sans-serif;
}

.question {
    margin:10px 30%;
}

.question h2 {
    cursor:pointer;
    background-color:rgb(3, 111, 219);
    text-align: center;
    color:white;
    padding:10px 0;
}

.question p {
   text-align: justify;
   margin:0 50px;
}
  
.questions .answer {
      display:none;
}
 
@media (max-width: 1200px) {
    .paragraphe p {
        margin:0 30px;
        font-size:18px;
    }
    .paragraphe h1 {
        text-align: center;
    }
    .paragraphe div{
        margin:0;
        padding:0;
    }
    .devis1{
        display:block;
    }
    .versdevis p {
        margin:5% 20%;
        font-size:20px;
    }
    .versdevis h1{
        text-align: center;
    }
    .realisations div {
        display:block;
    }
    .realisations {
        margin:0 35%;
    }
    .pres h1{
        font-size:20px;
        margin:0 15%;
    }
    .pres p {
        font-size:14px;
        margin:5% 10%;
        text-align: justify;
    }
    .realisation{
        transform:scale(1.4);
        margin-top:150px;
        margin-left:-40px;
    }
    .realisations button {
        margin:50px 0%;
        margin-top:100px;
        width:300px;
        height:70px;
        font-size:21px;
    }
    .devis {
        margin:0 10%;
        margin-top:10%;
    }
    .devis p {
        font-size:14px;
        margin:5% 10%;
    }
    .devis h1{
        font-size:17px;
    }
    .devis button {
        width:300px;
        height:70px;
        font-size:21px;   
    }
    main {
        padding-bottom:50px;
    }

    .offre{
        margin:0 10%;
        width:60%;
    }
    .offre h2{
        font-size:40px;
    }
    .offre ul li {
        font-size:30px;
    }
    .offre button {
        width:300px;
        height:100px;
        border-radius: 10px;
        font-size:27px;
        margin:50px 0px;
    }
    .sousoffre button{
        width:300px;
        height:70px;
        font-size:28px;
        text-align: center;
    }
    .sousoffre p {
        font-size: 20px;
        margin-right:10%;
    }
    .question {
        font-size:27px;
        margin:0 30px;
    }
    .question .answer{
        margin-left:30px;
        font-size:14px
    }
    .prebutton {
        display:flex;
        justify-content: center;
        margin:0;
    }
    .besoins p {
        margin:30px 60px;
        font-size:14px
    }
    .content .offre{
        animation:none;
}
@media (max-width: 1080px){
    .content{
        display: flex;
        font-size: 30px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .paragraphe img {
        display:none;
    }
    .content .offre {
        transform:scale(1.25);
        margin:150px 0px;
    }
    .realisation h3 {
        font-size:24px
    }
    .realisation p {
        font-size:20px
    }
    .realisations div button {
        width: 350px;
        height: 88px;
        font-size: 30px;
    }
    .devis button {
        width: 350px;
        height: 88px;
        font-size: 30px;
    }
}}